/*
* Variáveis globais de CSS
*/

:root {
  --primary-color: #325164;
  --secondary-color: #5892B6;
  --paragraph-font-size: 0.9em;
  --menu-font-size: 0.8em;
  --title-font-size: 1.2em;
}


/*
* Zerando totalmente o CSS do documento e definindo a família da fonte
*/

html,body{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans'; /* A fonte de todas as tags textuais do site devem ser da família Open Sans*/
}




