/*
* Variáveis globais de CSS
*/

:root {
  --primary-color: #325164;
  --secondary-color: #5892B6;
}


/*
* Zerando totalmente o CSS do documento e definindo a família da fonte
*/

html,body{
  margin: 0;
  padding: 0;
  background-color: cornflowerblue;
}

.bg-primary-color{
  background-color: var(--primary-color);
}

.bg-secondary-color{
  background-color: var(--secondary-color);
}

.p-primary-color{
  color: var(--primary-color);
}


.p-secondary-color{
  color: var(--secondary-color);
}





