@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities{
    .p-primary-color{
        color: var(--primary-color);
      }
    .p-secondary-color{
        color: var(--secondary-color);
    }

    .text-menu{
        font-size: 0.9em;
    }
    .open{
        max-height: 100vh;
    }

    .transition-grid-rows{
        transition:grid-template-rows 500ms;
    }
    .h-banner{
        height: 35rem;
    }
    .w-search{
        width: 25rem;
    }
    /* Esconder barra de rolagem */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}
  

  
  